@import 'import/_mixin';
@import 'import/_variables';

.movie-list {
    display:flex;
    flex-wrap:wrap;
    width:100%;
    li {
        width:50%;
        .Movie__Colums {
            display:table;
            padding:20px;
            >div {
                display:table-cell;
            }
            .Movie__Img {
                vertical-align:top;
            }
    
            .Movie__Explanation {
                padding-left:20px;
                vertical-align:top;
            }
        }
    }
}